h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  text-align: center;
}

.image {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#whitesax {
  display: block;
}

#blacksax {
  display: none;
}

.image-container:hover #whitesax {
  display: none
  
}

.image-container:hover #blacksax {
  display: block;

}

.container:hover .overlay {
  opacity: 1;
}
  

.fa-user:hover {
  src: "icon8-saxophone-50.png";
}

#map {
  width: 500px;
  height: 400px;
}